# Data Analysis on Dataset-1 IPL Data
## By: Harsh Sagar Garg

In [1]:
import pandas as pd
import numpy as np

In [2]:
matches_df = pd.read_csv('ipldata/matches.csv')
deliveries_df = pd.read_csv('ipldata/deliveries.csv')

In [3]:
matches_df.head(10)

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN
5,6,2017,Hyderabad,2017-04-09,Gujarat Lions,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Sunrisers Hyderabad,0,9,Rashid Khan,"Rajiv Gandhi International Stadium, Uppal",A Deshmukh,NJ Llong,NaN
6,7,2017,Mumbai,2017-04-09,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,4,N Rana,Wankhede Stadium,Nitin Menon,CK Nandan,NaN
7,8,2017,Indore,2017-04-10,Royal Challengers Bangalore,Kings XI Punjab,Royal Challengers Bangalore,bat,normal,0,Kings XI Punjab,0,8,AR Patel,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
8,9,2017,Pune,2017-04-11,Delhi Daredevils,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Delhi Daredevils,97,0,SV Samson,Maharashtra Cricket Association Stadium,AY Dandekar,S Ravi,NaN
9,10,2017,Mumbai,2017-04-12,Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,4,JJ Bumrah,Wankhede Stadium,Nitin Menon,CK Nandan,NaN

In [4]:
deliveries_df.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

## 1) Which team has won/lost maximum number of matches while chasing?

### Which Team has WON maximum matches while chasing

#### Approach 1

In [5]:

matches_df.query("(toss_decision == 'bat' & winner != toss_winner)|(toss_decision == 'field' & winner == toss_winner)")['winner'].value_counts().idxmax()

'Kolkata Knight Riders'

#### Approach 2

In [6]:
matches_df.query("team2==winner")['winner'].value_counts().idxmax()

'Kolkata Knight Riders'

### Which Team has LOST maximum matches while chasing

In [7]:
matches_df.query("team2 != winner")['team2'].value_counts().idxmax()

'Delhi Daredevils'

## 2) Which toss decision is best for each ground?

In [8]:
venue_group = matches_df.groupby('venue')
dictionary ={}
for name,group in venue_group:
    b = (group[group['team1']==group['winner']]).shape[0]
    f = (group[group['team2']==group['winner']]).shape[0]
    if (b>f):
        dictionary[name]="bat"
    else:
        dictionary[name]="field"

In [9]:
dictionary

{'ACA-VDCA Stadium': 'field',
 'Barabati Stadium': 'bat',
 'Brabourne Stadium': 'bat',
 'Buffalo Park': 'bat',
 'De Beers Diamond Oval': 'field',
 'Dr DY Patil Sports Academy': 'field',
 'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium': 'bat',
 'Dubai International Cricket Stadium': 'field',
 'Eden Gardens': 'field',
 'Feroz Shah Kotla': 'field',
 'Feroz Shah Kotla Ground': 'field',
 'Green Park': 'field',
 'Himachal Pradesh Cricket Association Stadium': 'bat',
 'Holkar Cricket Stadium': 'field',
 'IS Bindra Stadium': 'field',
 'JSCA International Stadium Complex': 'field',
 'Kingsmead': 'bat',
 'M Chinnaswamy Stadium': 'field',
 'M. A. Chidambaram Stadium': 'field',
 'M. Chinnaswamy Stadium': 'field',
 'MA Chidambaram Stadium, Chepauk': 'bat',
 'Maharashtra Cricket Association Stadium': 'field',
 'Nehru Stadium': 'bat',
 'New Wanderers Stadium': 'field',
 'Newlands': 'bat',
 'OUTsurance Oval': 'field',
 'Punjab Cricket Association IS Bindra Stadium, Mohali': 'field',
 'Punjab Cricket Association Stadium, Mohali': 'field',
 'Rajiv Gandhi International Stadium, Uppal': 'field',
 'Rajiv Gandhi Intl. Cricket Stadium': 'bat',
 'Sardar Patel Stadium, Motera': 'field',
 'Saurashtra Cricket Association Stadium': 'field',
 'Sawai Mansingh Stadium': 'field',
 'Shaheed Veer Narayan Singh International Stadium': 'field',
 'Sharjah Cricket Stadium': 'field',
 'Sheikh Zayed Stadium': 'bat',
 "St George's Park": 'field',
 'Subrata Roy Sahara Stadium': 'bat',
 'SuperSport Park': 'field',
 'Vidarbha Cricket Association Stadium, Jamtha': 'bat',
 'Wankhede Stadium': 'field'}

## 3) Which player has won maximum number of MoM awards while chasing?

In [10]:
matches_df.query("team2==winner")['player_of_match'].value_counts().idxmax()

'YK Pathan'

## 4) Which batsman has played maximum number of dot balls?

In [11]:
deliveries_df.query('batsman_runs =="0"')['batsman'].value_counts().idxmax()

'V Kohli'

## 5) Which batsmen came to crease but never got a chance to face a ball?

In [12]:
set(deliveries_df['non_striker']) - set(deliveries_df['batsman'])

{'A Nel', 'BW Hilfenhaus', 'C Ganapathy', 'TP Sudhindra'}

## 6) Which bowler has hit for maximum number of 1s/2s/3s/4s/6s?

#### For number of 1s

In [13]:
deliveries_df.query("total_runs == '1'")['bowler'].value_counts().idxmax()

'Harbhajan Singh'

#### For number of 2s

In [14]:
deliveries_df.query("total_runs == '2'")['bowler'].value_counts().idxmax()

'DJ Bravo'

#### For number of 3s

In [15]:
deliveries_df.query("total_runs == '3'")['bowler'].value_counts().idxmax()

'P Kumar'

#### For number of 4s

In [16]:
deliveries_df.query("total_runs == '4'")['bowler'].value_counts().idxmax()

'UT Yadav'

#### For number of 6s

In [17]:
deliveries_df.query("total_runs == '6'")['bowler'].value_counts().idxmax()

'PP Chawla'

## 7) Which batsman got stumped out maximum number of times?

In [18]:
deliveries_df.query("dismissal_kind =='stumped'")['batsman'].value_counts().idxmax()

'SK Raina'

## 8) Which non-striker has been part of maximum number of runouts?

In [19]:
deliveries_df.query("dismissal_kind =='run out'")['non_striker'].value_counts()
print(deliveries_df.query("dismissal_kind =='run out'")['non_striker'].value_counts().idxmax())

SK Raina

### Both KD Karthik and SK Raina have equal number of maxium runouts as non-striker ^

## 9) Which Batsman has maximum fours in 20th over

In [20]:
deliveries_df.query("over == 20 & batsman_runs == 4")['batsman'].value_counts().idxmax()

'MS Dhoni'

## 10)  Which is the most common dismissal kind

In [21]:
deliveries_df['dismissal_kind'].value_counts().idxmax()

'caught'

## 11) Which Fielder has made most run outs in IPL

In [22]:
deliveries_df.query("dismissal_kind =='run out'")['fielder'].value_counts().idxmax()

'MS Dhoni'

## 12) Which teams have won an IPL Match by 10 wickets

In [23]:
matches_df.query("win_by_wickets==10")['winner'].value_counts()

Royal Challengers Bangalore    3
Chennai Super Kings            1
Sunrisers Hyderabad            1
Delhi Daredevils               1
Deccan Chargers                1
Mumbai Indians                 1
Kolkata Knight Riders          1
Rajasthan Royals               1
Kings XI Punjab                1
Name: winner, dtype: int64

## 13) How namy matches have been won by Teams after winning the Toss

In [24]:
matches_df.query("winner == toss_winner")['winner'].value_counts().sum()

393